
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A site to score words.</p>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="score"><a href="/scrabble/score">Scorer</a></li>
            <li id="score"><a href="/scrabble/chart">Tile Chart</a></li>
        </ul>
    </div>


    <table>
    <tr>
    <td>POINTS</td>
    <td>LETTERS</td>
    </tr>
    <tr>
    <td>1</td>
    <td>A, E, I, O, U, L, N, R, S, T</td>
    </tr>
    <tr>
    <td>2</td>
    <td>D, G</td>
    </tr>
    <tr>
    <td>3</td>
    <td>B, C, M, P</td>
    </tr>
    <tr>
    <td>4</td>
    <td>F, H, V, W, Y</td>
    </tr>
    <tr>
    <td>5</td>
    <td>K</td>
    </tr>
    <tr>
    <td>8</td>
    <td>J, X</td>
    </tr>
    <tr>
    <td>10</td>
    <td>Q, Z</td>
    </tr>
    </table>

  </body>
</html>
